.file-name {
  cursor: pointer;
}

.file-name:hover {
  color: crimson;
}

.table-container {
  max-height: 700px;
  overflow: auto;
}

.table-search-input {
  width: 200px;
}

.folder-file-select {
  width: 200px;
  height: 40px;
}

.alert-primary {
  position: fixed;
  width: 300px;
  left: 40%;
  z-index: 1000;
  text-align: center;
  display: none;
}
.alert-danger {
  position: fixed;
  width: 300px;
  left: 40%;
  z-index: 1000;
  text-align: center;
  display: none;
}

.layerPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(102, 101, 101, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  /* margin: -30px 0 0 -30px; */
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spinner 2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.CodeMirror-lines {
  min-height: 200px !important;
}

.test {
  visibility: none;
  position: relative;
}

/* .device-table-name {
  width: 500px;
} */

tr {
  vertical-align: middle;
}

.config-file-info {
  display: none;
}

* {
  font-family: Open Sans, sans-serif !important;
  color: #525f7f !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #5e72e4;
  border-color: #5e72e4;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.btn-danger {
  color: #fff !important;
  background-color: #f5365c;
  border-color: #f5365c;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

html,
body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #f3f2f2;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
}

.config-container {
  display: none;
}

.folder-color {
  color: rgb(233, 99, 90) !important;
}
