<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>file manager</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/bootstrap/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/views/home.css" />

    <script src="/views/codemirror/codemirror.min.js"></script>
    <link rel="stylesheet" href="/views/codemirror/codemirror.min.css" />
  </head>

  <body>
    <script src="/bootstrap/bootstrap.js" type="module"></script>
    <script src="/views/table.js" type="module"></script>
    <script src="/views/linux.js" type="module"></script>
    <script src="/views/login/login.js" type="module"></script>
    <script src="/views/login/values.js" type="module"></script>
    <script src="/views/config/config.js" type="module"></script>
    <script src="/views/config/config.values.js" type="module"></script>

    <div class="layerPopup">
      <div class="spinner"></div>
    </div>

    <div id="pageMessages">
      <div class="alert alert-primary text-center" role="alert"></div>
      <div class="alert alert-danger text-center" role="alert"></div>
    </div>

    <!-- 로그인 하지 않았을때 나오는 UI -->

    <div class="login-container">
      <div class="card border login-container-form">
        <div class="card-body p-5">
          <h3>비밀번호를 입력해 주세요.</h3>
          <input
            type="password"
            placeholder="비밀번호를 입력해 주세요."
            class="form-control login-input"
          />
          <button type="button" class="btn btn-primary w-100 mt-4 login-btn">
            입장
          </button>
        </div>
      </div>
    </div>

    <!-- 로그인 했을때 나오는 UI -->
    <div class="m-5 main-ui">
      <div class="row">
        <!-- 상단 테이블 리스트 -->
        <div class="mb-5 col card">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-4">
              <select
                class="form-select folder-file-select"
                aria-label="Default select example"
              >
                <option value="1" selected>전체</option>
                <option value="2">폴더</option>
                <option value="3">파일</option>
              </select>
              <input type="text" class="form-control table-search-input" />
            </div>
            <div class="table-container">
              <table class="table table-bordered">
                <thead class="text-center">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody class="file-list text-center"></tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- 리눅스 부분 -->
        <div class="col">
          <div class="">
            <textarea
              class="form-control mb-4 linux-result"
              id=""
              rows="15"
            ></textarea>

            <span id="current-location"><%=location%></span>
            <div class="d-flex justify-content-between">
              <input type="text" class="form-control linux-input me-5" />
              <button type="button" class="btn btn-primary linux-btn">
                Run
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- 파일 수정 -->
      <div class="row mt-5 test card">
        <div class="card-body">
          <textarea
            class="form-control mb-4 file-update-text"
            id=""
            rows="15"
          ></textarea>
          <div
            class="d-flex justify-content-between align-items-center border-top pt-3"
          >
            <span class="update-file-name"></span>
            <div>
              <button type="button" class="btn btn-primary file-update-btn">
                수정
              </button>
              <button type="button" class="btn btn-danger ms-3 file-cancel-btn">
                취소
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- config 파일 -->
      <div class="mt-5 card config-container">
        <div class="card-body">
          <div class="device-name col-6">
            <div class="config-file-info-btn-container"></div>
            <table class="table table-bordered device-infos-table">
              <tbody class="text-center"></tbody>
            </table>
          </div>
          <div class="device-list-container-for-delete">
            <div class="device-list-container p-4 row"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
